SESTEC/GISCore/Connected Services/WCF_Suporte/Suporte1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://starscloud.com.br/services" elementFormDefault="qualified" targetNamespace="http://starscloud.com.br/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalvarFotoPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:DadosUsuario" />
        <xs:element minOccurs="0" name="conteunoBase64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DadosUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosUsuario" nillable="true" type="tns:DadosUsuario" />
  <xs:element name="SalvarFotoPerfilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FaultSTARSServices">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="Detalhes" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultSTARSServices" nillable="true" type="tns:FaultSTARSServices" />
  <xs:element name="BuscarFotoPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:DadosUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarFotoPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarFotoPerfilResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarArquivoNoVault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conteudo" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="pathBase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="extensao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxfilesubfolder" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarArquivoNoVaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SalvarArquivoNoVaultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarArquivoDoVault">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pathFolderBase" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="remoteFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarArquivoDoVaultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarArquivoDoVaultResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>